#body{
  background-color: :#002233
     background:#003366 -webkit-linear-gradient(left, #00111a , #002233);
     background: -o-linear-gradient(right, #00111a, #002233);
     background: -moz-linear-gradient(right, #00111a, #002233);
     background: linear-gradient(to right, #00111a , #002233);
}
#hobby{
  color: white;
  font-family: arial;
  padding: 20px;
  text-align: left;
  font-size: 35px
}
#buttons{
  font-family: arial;
  font-size: 13px;
}
#para{
  color: white;
  font-family: arial;
  font-size: 18px;
  position: relative;
  left: 25px;
}
#hobby1{
  font-family: arial;
  border: 1.5px solid gray;
  width: auto;
  height: auto;
}
#steam{
  width: 100px;
  height: auto;
  position: relative;
  left: 30px;
}
#para4hobby1{
  font-size: 14px;
  font-family: arial;
  color: white;
  padding: 25px;
  position: relative;
  left: 135px;
  top: -130px;
}
#gaming{
  color: white;
  font-size: 25px;
  position: relative;
  left: 25px;
  padding: 10px;
}
#hobby2{
  font-family: arial;
  border: 1.5px solid gray;
  width: auto;
  height: auto;
}
#Photography{
  color: white;
  font-size: 25px;
  position: relative;
  left: 25px;
  padding: 10px;
}
#photo{
  width: 100px;
  height: auto;
  position: relative;
  left: 30px;
}
#para4hobby2{
  font-size: 14px;
  font-family: arial;
  color: white;
  padding: 25px;
  position: relative;
  left: 135px;
  top: -130px;
}
